{% extends 'base.html' %}
{% block content %}

<head>
<style>
	h1{text-align: center;}
</style>
</head>

<h1>Input EQA Data</h1>
<div class="col-md-4 offset-md-4">
    <div class="my-5 row justify-content-md-center">
		<div class="container border border-dark border-2 rounded bg-opacity-0"  style="background-color: transparent;">
			<section style="font-size:15px">
				<form method="POST">
					{{form.csrf_token}}
					<br/>
					{{ form.Reschannel_1.label(class="form-label px-4 mx-4") }}
					{{form.Reschannel_1}}
					<br/>
					{{ form.Reschannel_2.label(class="form-label px-4 mx-4 ") }}
					{{form.Reschannel_2}}
					<br/>
					{{ form.Reschannel_3.label(class="form-label px-4 mx-4") }}
					{{form.Reschannel_3}}
					<br/>
					{{ form.Reschannel_4.label(class="form-label px-4 mx-4 ") }}
					{{form.Reschannel_4}}
					<br/>
					{{ form.Reschannel_5.label(class="form-label px-4 mx-4 ") }}
					{{form.Reschannel_5}}
					<br/>
					<div class="col-md-4 offset-md-4">
						<div class="row justify-content-md-center">
							{{form.submit(class="btn btn-secondary btn-md my-4") }}
							<br/>
						</div>	
					</div>
				</form>
			</section>
		</div>
	</div>
</div>
	  
</div>

{% endblock %}