{% extends 'base.html' %}
{% block content %}

<head>
<style>
	h1{text-align: center;}
</style>
</head>

<h1>Input OQA Data</h1>

<div class="col-md-4 offset-xl-4">
    <div class="my-5">
		<div class="container my-3 border border-dark border-2 rounded bg-opacity-0 py-5 px-7" style="background-color: transparent;">
			<section style="font-size:20px">
					<form method="POST">
						<div class="row justify-content-md-center">
							<div class="col-md-5"> 
								{{form.csrf_token}}
								<br/>
								{{ form.channel_1.label(class="form-label px-4") }}
								{{form.channel_1}}
								<br/>
								{{ form.channel_2.label(class="form-label px-4") }}
								{{form.channel_2}}
								<br/>
								{{ form.channel_3.label(class="form-label px-4") }}
								{{form.channel_3}}
								<br/>
								{{ form.channel_4.label(class="form-label px-4") }}
								{{form.channel_4}}
								<br/>
								{{ form.channel_5.label(class="form-label px-4") }}
								{{form.channel_5}}
								<br/>
								<br/>
								{{form.submit(class="btn btn-secondary btn-lg py-3 my-4 px-4 offset-md-3") }}
							</div>
						</div>
						<br/>
					</form>
			</section>	
		</div>
	</div>
</div>


{% endblock %}