{% extends 'base.html' %}
{% block content %}

<head>
<style>
	h1{text-align: center;}
</style>
</head>

<h1>Input OQA Data</h1>



<div class="col-md-4 offset-md-4">
	<div class="my-3 px-2 container border border-dark border-2 rounded bg-opacity-0"  style="background-color: #E4F9F9;">
		<section style="font-size:20px">
				<form method="POST">
					<div class="col-md-4 offset-md-4">
							{{form.csrf_token}}
							<br/>
							{{ form.channel_1.label(class="form-label") }}
							{{form.channel_1}}
							<br/>
							{{ form.channel_2.label(class="form-label") }}
							{{form.channel_2}}
							<br/>
							{{ form.channel_3.label(class="form-label") }}
							{{form.channel_3}}
							<br/>
							{{ form.channel_4.label(class="form-label") }}
							{{form.channel_4}}
							<br/>
							{{ form.channel_5.label(class="form-label") }}
							{{form.channel_5}}
							<br/>
					</div>
					<div class="col-md-4 offset-md-4">
						<div class="row justify-content-md-center">
							{{form.submit(class="btn btn-secondary btn-md my-4") }}
							<br/>
						</div>
					</div> 
					<br/>
				</form>
		</section>	
	</div>
</div>

<head> 
	<style>
	  .container {
		white-space: nowrap;
	  }
	</style>
  </head> 

{% endblock %}
