{% extends 'base.html' %}
{% block content %}

<head>
    <style>
        h1{text-align: center;}
    </style>
    </head>
    
    <h1>Update Forms</h1>
    <br/>
    <!-- <div class="col-md-12 text-center"> -->
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{{ url_for('QA.update_OQA', chip_id = chip_info.id)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">OQA</a>
        <a href="{{ url_for('QA.update_EQA', chip_id = chip_info.id)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">EQA</a>
        <a href="{{ url_for('QA.update_LQA', chip_id = chip_info.id)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">LQA</a>
        <a href="{{ url_for('chip.datatable',chip_id = chip_info.id)}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Back</a>
    </div>
            





{% endblock %}
