{% extends 'base.html' %}
{% block content %}
<style>
  body{
      background-image: url("https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?w=2000");
  }
</style>
<form action="{{ url_for("auth.authorize")}}" method="post">
  <div class="col-md-4 offset-xl-4">
    <div>
      <h1 class="container my-3">Login</h1>
    </div>
    <div class="container my-3 border border-dark border-2 rounded bg-opacity-50"style="background-color:  #57b1ee  ;">
      <div class="container py-3 my-3">
        <label for="InputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="InputUsername" name="fusername">
      </div>
      <div class="container my-3">
        <label for="InputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="InputPassword" name="fpassword" >
      </div>
      <div class="container my-3">
        <button type="submit" class="btn my-4 mr-5 border-2 border-dark" style="background-color:  #c9c9c9e0  ;">Submit</button>
      </div>
    </div>
  </div>
</form>

 {% endblock %}