{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center mt-5">
  <div class="col text-center mt-5 pt-3">
    <div>
      <h2 class="container mt-5 pt-5">You have succesfully logged out</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <a class="btn btn-lg mt-5 border-2 border-dark px-5" href="{{ url_for('auth.login')}}" role="button" style="background-color:  #b0c4de  ;"> Sign in again </a>     
      </div>
    </div>
  </div>
</div>
 {% endblock %}
