{% extends 'base.html' %}
{% block content %}

<head>
<style>
	h1{text-align: center;}
</style>
</head>

<h1>Input Chip Data</h1>
<div class="container my-3 border border-dark border-2 rounded bg-opacity-50 py-5 ">
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.id.label(class="form-label") }}

		{{ form.id(class="form-control") }}
		<br/>

		{{ form.batch.label(class="form-label") }}

		{{ form.batch(class="form-control") }}
		<br/>

        {{ form.wafer.label(class="form-label") }}

		{{ form.wafer(class="form-control") }}
		<br/>

		 {{form.submit(class="btn btn-secondary") }}


	</form>

	  
</div>

{% endblock %}