
{% extends 'base.html' %}
{% block content %}
<div class="everything mx-5">
  <div class="position-absolute row justify-content-center">
    <div class="col text-center">
      <h1 class="text-center">ME Chips</h1>
    </div>
    <div class="wafer">
      <div class="row justify-content-center">
        <div class="col-auto px-1">
          <img style="width: 575px; height: 435px;" class="img-responsive" src="https://cdn.discordapp.com/attachments/991476481375088750/995004519677177936/ME_CHIP.png"alt="ME Wafer">
        </div>    
      </div>
    </div>
      <div class="buttons">
        <div class="row justify-content-center">
          <div class="col-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-lg active border-0 my-2 mx-0 px-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;"aria-pressed="true">A1</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" class="btn btn-secondary btn-lg active border-0 my-2 mx-0 px-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">A2</a>
          </div>
          <div class="col-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-lg active border-0 my-2 mx-0 px-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">A3</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" class="btn btn-secondary btn-lg active border-0 my-2 mx-0 px-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">A4</a>
          </div>
        </div> 
        <div class="row justify-content-center">
          <div class="col-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-lg active border-0 my-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">B1</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" class="btn btn-secondary btn-lg active border-0 my-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">B2</a>
          </div>
          <div class="col-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-lg active border-0 my-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">B3</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" class="btn btn-secondary btn-lg active border-0 my-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">B4</a>
          </div>
          <div class="col-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-lg active border-0 my-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">B5</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" class="btn btn-secondary btn-lg active border-0 my-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">B6</a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-lg active border-0 my-2" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">C1</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" class="btn btn-secondary btn-lg active border-0 my-2" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">C2</a>
          </div>
          <div class="col-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-lg active border-0 my-2" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">C3</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" class="btn btn-secondary btn-lg active border-0 my-2" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">C4</a>
          </div>
          <div class="col-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-lg active border-0 my-2" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">C5</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" class="btn btn-secondary btn-lg active border-0 my-2" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">C6</a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-lg active border-0 my-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">D1</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" class="btn btn-secondary btn-lg active border-0 my-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">D2</a>
          </div>
          <div class="col-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-lg active border-0 my-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">D3</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" class="btn btn-secondary btn-lg active border-0 my-0" role="button" style="height:80px;width:60px; line-height: 4; background-color: transparent;" aria-pressed="true">D4</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button_group">
  </br>
  </br>
  </br>
  </br>
    <a class="btn active my-5 border-2 border-dark btn-lg btn-secondary" style="width: 150px; height: 65px; font-size: 30px;" href="#" role="button">Read</a>
  </br>
    <a class="btn active my-5 border-2 border-dark btn-lg btn-secondary" style="width: 150px; height: 65px; font-size: 30px;" href="{{ url_for('chip.chip')}}" role="button">Input</a>
  </div>
</div>
<head> 
  <style>
    .button_group{
      position: relative;
      top: 40%;
      bottom: 0%;
      right: 15%;
      left: 70%; 
    }
    .buttons {
      position: absolute;
      top: 20%;
      bottom: 0%;
      right: 15%;
      left: 15%; 
    }
    .everything{
      left:10%;
    }
  </style>
</head>


{% endblock %}