
{% extends 'base.html' %}
{% block content %}

<div class="col text-center">
  <h1 class="text-center  my-3">ME Chips</h1>
</div>
<div class="section">
  <div class="row justify-content-md-center">
    <img style="width: 580px; height: 530px;" class="img-responsive" src="https://cdn.discordapp.com/attachments/991476481375088750/995004519677177936/ME_CHIP.png"alt="SiMo Wafer">
  </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <a  href="#"  class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">1</a>
      </div>
      <div class="col-md-auto">
        <a href="#" class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">2</a>
      </div>
      <div class="col-md-auto">
        <a  href="#"  class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">3</a>
      </div>
      <div class="col-md-auto">
        <a href="#" class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">4</a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <a  href="#"  class="btn btn-secondary btn-lg active my-1" role="button" aria-pressed="true">1</a>
      </div>
      <div class="col-md-auto">
        <a href="#" class="btn btn-secondary btn-lg active my-1" role="button" aria-pressed="true">2</a>
      </div>
      <div class="col-md-auto">
        <a  href="#"  class="btn btn-secondary btn-lg active my-1" role="button" aria-pressed="true">3</a>
      </div>
      <div class="col-md-auto">
        <a href="#" class="btn btn-secondary btn-lg active my-1" role="button" aria-pressed="true">4</a>
      </div>
      <div class="col-md-auto">
        <a  href="#"  class="btn btn-secondary btn-lg active my-1" role="button" aria-pressed="true">5</a>
      </div>
      <div class="col-md-auto">
        <a href="#" class="btn btn-secondary btn-lg active my-1" role="button" aria-pressed="true">6</a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <a  href="#"  class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">1</a>
      </div>
      <div class="col-md-auto">
        <a href="#" class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">2</a>
      </div>
      <div class="col-md-auto">
        <a  href="#"  class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">3</a>
      </div>
      <div class="col-md-auto">
        <a href="#" class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">4</a>
      </div>
      <div class="col-md-auto">
        <a  href="#"  class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">5</a>
      </div>
      <div class="col-md-auto">
        <a href="#" class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">6</a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <a  href="#"  class="btn btn-secondary btn-lg active my-2" role="button" aria-pressed="true">1</a>
      </div>
      <div class="col-md-auto">
        <a href="#" class="btn btn-secondary btn-lg active my-2" role="button" aria-pressed="true">2</a>
      </div>
      <div class="col-md-auto">
        <a  href="#"  class="btn btn-secondary btn-lg active my-2" role="button" aria-pressed="true">3</a>
      </div>
      <div class="col-md-auto">
        <a href="#" class="btn btn-secondary btn-lg active my-2" role="button" aria-pressed="true">4</a>
      </div>
    </div>
</div>

<head> 
  <style>
    .container {
      position: absolute;
      top: 16%;
      bottom: 0%;
      right: 0%;
      left: 0%; 
    }
    .section {
      position: abosolute;
      top: 15%;
    }
  </style>
</head> 


{% endblock %}