{% extends 'base.html' %}
{% block content %}
<div class="whole">
  <div class="position-absolute">
      <div class="col text-center">
        <h1 class="text-center">SiMo Chips</h1>
      </div>
      <div class="section">
        <div class="row justify-content-md-center">
          <img style="width: 465px; height: 385px;" class="img-responsive" src="https://cdn.discordapp.com/attachments/993993198164783134/994753642047488010/image.png"alt="SiMo Wafer">
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#" class="btn btn-secondary btn-md active mb-1 mt-4" role="button" aria-pressed="true">1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active mb-1 mt-4" role="button" aria-pressed="true">2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active mb-1 mt-4" role="button" aria-pressed="true">3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active mb-1 mt-4" role="button" aria-pressed="true">4</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active mb-1 mt-4" role="button" aria-pressed="true">5</a>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active" role="button" aria-pressed="true">1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active" role="button" aria-pressed="true">3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">4</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active" role="button" aria-pressed="true">5</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">6</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">7</a>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">4</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">5</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">6</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">7</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">8</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">9</a>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active" role="button" aria-pressed="true">1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active" role="button" aria-pressed="true">3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">4</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active" role="button" aria-pressed="true">5</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">6</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">7</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">8</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">9</a>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">4</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">5</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">6</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">7</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">8</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">9</a>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active" role="button" aria-pressed="true">1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active" role="button" aria-pressed="true">3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">4</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  class="btn btn-secondary btn-md active" role="button" aria-pressed="true">5</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">6</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">7</a>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-auto px-1">
              <a  href="#"  class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">1</a>
            </div>
            <div class="col-md-auto px-1">
              <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">2</a>
            </div>
            <div class="col-md-auto px-1">
              <a  href="#"  class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">3</a>
            </div>
            <div class="col-md-auto px-1">
              <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">4</a>
            </div>
            <div class="col-md-auto px-1">
              <a href="#" class="btn btn-secondary btn-md active my-1" role="button" aria-pressed="true">5</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
  

<div class="buttongroup">
    <a class="btn btn-secondary btn-lg active my-5 border-dark border-2" style="width: 150px; height: 65px; font-size: 30px;" href="#" role="button" aria-disabled="true">Read</a>
    <a class="btn btn-secondary btn-lg active my-5 border-dark border-2" style="width: 150px; height: 65px; font-size: 30px;" href="#"  role="button" aria-="true">Input</a>
</div>

<head> 
  <style>
    .whole {
      position: absolute;
      top: 20%;
      bottom: 0%;
      right: 20%;
      left: 20%;         
    }
    .container {
      position: absolute;
      top:20%;
      left:0.5%;
    }
    .buttongroup {
      position: fixed;
      top: 32%; 
      bottom: 0%;
      right: 40%;
      left: 65%;
    }
  </style>
</head> 
{% endblock %}