
{% extends 'base.html' %}
{% block content %}
<div class="everything">
  <div class="position-absolute row justify-content-center">
    <div class="col text-center">
      <h1 class="nickname">SiMo Chips</h1>
    </div>
    <div class="wafer">
      <div class="simopic row justify-content-center">
        <img style="width: 465px; height: 355px;" class="img-responsive" src="https://cdn.discordapp.com/attachments/993993198164783134/994753642047488010/image.png"alt="SiMo Wafer">
      </div>
      <div class="buttons">
      <div class="row justify-content-center">
        <div class="col-auto px-1">
          <a  href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 mb-1 mt-4" role="button" aria-pressed="true">A1</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 mb-1 mt-4" role="button" aria-pressed="true">A2</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 mb-1 mt-4" role="button" aria-pressed="true">A3</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 mb-1 mt-4" role="button" aria-pressed="true">A4</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 mb-1 mt-4" role="button" aria-pressed="true">A5</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B1</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B2</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B3</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B4</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B5</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B6</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B7</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C1</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C2</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C3</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C4</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C5</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C6</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C7</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C8</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C9</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D1</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D2</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D3</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D4</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D5</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D6</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D7</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D8</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D9</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E1</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E2</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E3</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E4</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E5</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E6</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E7</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E8</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E9</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F1</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F2</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F3</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F4</a>
        </div>
        <div class="col-auto px-1">
          <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F5</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F6</a>
        </div>
        <div class="col-auto px-1">
          <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F7</a>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">G1</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">G2</a>
          </div>
          <div class="col-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">G3</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">G4</a>
          </div>
          <div class="col-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">G5</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div> 
  <div class="buttongroup">
  </br>
  </br>
  </br>
  </br>
  <a class="btn active my-5 border-2 border-dark btn-lg btn-secondary" style="width: 150px; height: 65px; font-size: 30px;" href="#" role="button">Read</a>
  </br>
  <a class="btn active my-5 border-2 border-dark btn-lg btn-secondary" style="width: 150px; height: 65px; font-size: 30px;" href="{{ url_for('chip.chip')}}" role="button">Input</a>
</div>
</div>
<head> 
  <style>
    .buttongroup {
      position: relative;
      top: 40%;
      bottom: 0%;
      right: 20%;
      left: 70%; 
    }
    .nickname {
      position: relative;
      left:15%; 
    }
    .simopic {
      position: relative;
      top: 5%; 
      right:50%;
      left:15%;
    }
    .buttons {
      position: absolute;
      top:25%;
      bottom: 0%;
      left: 29.25%;
      right: 0%;
    }

    .everything {
      top: 20%;
      bottom: 0%;
      right: 20%;
      left: 10%;  
    }
  </style>
</head> 

{% endblock %}