

{% extends 'base.html' %}
{% block content %}
<div class="whole">
  <div class="position-absolute">
      <div class="col text-center">
        <h1 class="text-center">SiMo Chips</h1>
      </div>
      <div class="section">
        <div class="row justify-content-md-center">
          <img style="width: 465px; height: 355px;" class="img-responsive" src="https://cdn.discordapp.com/attachments/993993198164783134/994753642047488010/image.png"alt="SiMo Wafer">
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 mb-1 mt-4" role="button" aria-pressed="true">A1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 mb-1 mt-4" role="button" aria-pressed="true">A2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 mb-1 mt-4" role="button" aria-pressed="true">A3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 mb-1 mt-4" role="button" aria-pressed="true">A4</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 mb-1 mt-4" role="button" aria-pressed="true">A5</a>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B4</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B5</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B6</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">B7</a>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C4</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C5</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C6</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C7</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C8</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">C9</a>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D4</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D5</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D6</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D7</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D8</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">D9</a>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E4</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E5</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E6</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E7</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E8</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">E9</a>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F1</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F2</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F3</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F4</a>
          </div>
          <div class="col-md-auto px-1">
            <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F5</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F6</a>
          </div>
          <div class="col-md-auto px-1">
            <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2" role="button" aria-pressed="true">F7</a>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-auto px-1">
              <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">G1</a>
            </div>
            <div class="col-md-auto px-1">
              <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">G2</a>
            </div>
            <div class="col-md-auto px-1">
              <a  href="#"  style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">G3</a>
            </div>
            <div class="col-md-auto px-1">
              <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">G4</a>
            </div>
            <div class="col-md-auto px-1">
              <a href="#" style="width: 35px; height:35px; font-size: 15px; background-color:transparent" class="btn btn-secondary btn-md border-0 active px-2 my-1" role="button" aria-pressed="true">G5</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
  

<div class="buttongroup">
    <a class="btn btn-secondary btn-lg active my-5 border-dark border-2" style="width: 150px; height: 65px; font-size: 30px;" href="{{ url_for('chip.data')}}" role="button" aria-disabled="true">Read</a>
    <a class="btn btn-secondary btn-lg active my-5 border-dark border-2" style="width: 150px; height: 65px; font-size: 30px;" href="{{ url_for('chip.chip')}}"  role="button" aria-="true">Input</a>
</div>

<form method="POST">
  {{ form.hidden_tag() }}

  {{ form.batch.label(class="form-label") }}

  {{ form.batch(class="form-control") }}
  <br/>

  {{ form.wafer.label(class="form-label") }}

  {{ form.wafer(class="form-control") }}
  <br/>

  {{ form.chip.label(class="form-label") }}

  {{ form.chip(class="form-control") }}
  <br/>
  <div class="col-md-4 offset-md-4">
    <div class="row justify-content-md-center">
      {{form.submit(class="btn btn-secondary btn-md my-3") }}
      <br/>
    </div>	
  </div>

</form>

<head> 
  <style>
    .whole {
      position: absolute;
      top: 20%;
      bottom: 0%;
      right: 20%;
      left: 20%;  
      white-space: nowrap;
       
    }
    .container {
      position: absolute;
      top:20%;
      left:0.5%;
    }
    .buttongroup {
      position: fixed;
      top: 32%; 
      bottom: 0%;
      right: 40%;
      left: 65%;
    }
  </style>
</head> 


{% endblock %}