{% extends 'base.html' %}
{% block content%}

{% if chip_ID %}
    <h1>Chip Information Submitted!</h1>
{% else %}
    <h1>Input Chip Data</h1>
    <br/>
    <form method="POST">
        {{form.hidden_tag() }}
        {{form.chip_ID.label(class="form-label")}}
        {{form.chip_ID(class="form-control")}}
        <br/>
        {{form.batch_number.label(class="form-label")}}
        {{form.batch_number(class="form-control")}}
        <br/>
        {{form.wafer_number.label(class="form-label")}}
        {{form.wafer_number(class="form-control")}}
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endif %}




{% endblock %}