{% extends 'base.html' %}
{% block content %}

<head>
    <style>
        h1{text-align: center;}
    </style>
</head>
    

<h1>Select Chip</h1>
 
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <a  href="{{ url_for('chip.simo')}}"  class="btn btn-primary btn-lg active my-5" role="button" aria-pressed="true">SiMo Chip</a>
      </div>
      <div class="col-md-auto">
        <a href="{{ url_for('chip.me')}}" class="btn btn-secondary btn-lg active my-5" role="button" aria-pressed="true">ME Chip</a>
      </div>
    </div>
</div>
{% endblock %}


