{% if before_login == True %} <!-- before_login == true -->
<nav class="navbar navbar-expand-lg" style="background-color:  #4682b4 ;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home.home')}}">Chip Software</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link active" href="{{ url_for('auth.login')}}">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


{% elif correct_login == false %}
  <h1> Wrong Password </h1>
  
{% elif correct_login == true %}
  {% set correct_login = true %} 
<nav class="navbar navbar-expand-lg" style="background-color:  #4682b4  ;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home.home')}}">Chip Software</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link active" href="{{ url_for('home.home')}}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active"  href="{{ url_for('chip.chip')}}">Chip</a>
        </li>
       <!--  <li class="nav-item active">
          <a class="nav-link active" href="{{ url_for('chip.data')}}">Data</a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link active" href="{{ url_for('QA.oqa')}}">OQA</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="{{ url_for('QA.eqa')}}">EQA</a>

        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="{{ url_for('QA.lqa')}}">LQA</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="{{ url_for('auth.logout')}}">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

{% endif %}

